.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.media {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
  }
  /*.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/
.col-md-12{
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.scroll {
    height: 425px;
    overflow-y: scroll;
    border-radius: 10px;
    background: #fba929;
}
p{
	font-size: 15px;
	line-height: 20px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}